.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-links ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links ul li{
    margin: 0 1rem;
    font-family: Arima, sans-serif;
}

.nav-links ul li a{
    text-decoration: none;
    color: #333;
    
}

.nav-links ul li a:hover{
    color: #007bff;
}
.universal-btn{
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: Arima, sans-serif;
    font-weight: bold;
}
.universal-btn:hover{
    background-color: #0056b3;
}
.hero {
    height: 80vh;

    background-image:
        linear-gradient( to right,
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.1)),
        url("./assets/banner.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: top;
}

.hero-content {
    color: white;
    text-align: center;
    font-family: Inter, sans-serif;
}
.hero-content h1 {
    color: white;
    font-size: 4rem;
    margin-bottom: 2rem;
    padding-top: 8%;
}
.hero-content p {
    color: rgb(189, 189, 189);
    font-size: 1rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.hero-content button {
    font-size: 1rem;
    margin-top: 11rem;
}
.speaker-container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.speakers h2{
    font-family: Inter, sans-serif;
    Font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.speaker-card{
    border:1px solid #ddd;
    border-radius:12px;
    overflow:hidden;
}
.speaker-card img{
    width:100%;
    height:300px;
    object-fit:cover;
}
.speaker-info{
    font-family: Inter, sans-serif;
    padding:20px;
}
.speaker-info p{
    font-size:0.8rem;
    color: blue;
    margin-bottom:10px;
}
.speaker-info span{
    font-size:0.9rem;
    color:#565656;
}
.pricing-container{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}
.pricing h2{
    font-family: Inter, sans-serif;
    Font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 20px;
}
.pricing p{

    font-family: Inter, sans-serif;
    font-size: 0.7rem;
    color: #595959;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
.pricing-card{
    font-family: Inter, sans-serif;
    border:1px solid #ddd;
    border-radius:12px;
    padding:40px;
}
.pricing-card p, small{
    font-family: Inter, sans-serif;
    font-size: 0.5rem;
    color: #595959;
    text-align: left;
    margin-bottom: 20px;
}
.pricing-card h3{
    margin-top: 0px;
    margin-bottom: 0px;
} 
.pricing-card li{
    font-size: 0.8rem;
    margin-bottom: 10px;
    text-align: left;
}  
.featured{
    background:#0f172a;
    color:white;
}
.featured small{
    color: blue;
    font-weight: bold;
}
.pricing-card li::marker{
    color: blue;
}
.pricing-card button{
    width:100%;
    padding:12px;
    border-radius:8px;
    margin-top:20px;
    cursor:pointer;
    font-family: Inter, sans-serif;
    font-weight: bold;
    border: 0.5px solid #000000;
}
.featured button{
    background-color: blue;
    color:white;
    border:none;
}
#standard-button{
    background-color: white;
    color:blue;
    border: 0.5px solid #0044ff;
}